ul {
    list-style: none;
}

li {
    display: inline-block;
}

.header .nav-bar ul li {
    margin-right: 30px;
}

.header .nav-bar ul li a {
    font-size: 19px;
    letter-spacing: 2px;
    padding: 10px;
    border-radius: 5px;
    text-transform: capitalize;
    transform: all 0.5s;
    opacity: 0.6;
}

.header .nav-bar ul li a.active {
    opacity: 1;
}

.header .nav-bar ul li a:hover {
    opacity: 1;
}

.header .nav-bar .social-media ul li {
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 5px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    font-size: 19px;
    transition: all 0.3s ease-in-out;
    background-color: #cac5c542;
}

.header .nav-bar .social-media ul li:hover {
    background-color: rgb(255 0 0/0.9);
}

.hero {
    width: 100%;
}

.hero .row {
    width: 90;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 50px;
}

.hero .row .left-sec {
    width: 30%;
    margin-top: 100px;
    margin-left: 50px;
}

.hero .row .left-sec h2 {
    font-size: 85px;
    color: #fff;
    text-transform: capitalize;
}

.hero .row .left-sec h2 span {
    color: #d43242;
}

.hero .row .left-sec p {
    margin: 20px 0;
    color: #fff;
    line-height: 28px;
    padding-right: 150px;
}

.hero .row .left-sec .discover-btn {
    display: flex;
    align-items: center;
    outline: none;
    border-radius: 50;
    cursor: pointer;
    margin-top: 50px;
    padding: 0 25px;
    border: 3px solid #ffa938;
    background-color: #d43242;
    box-shadow: 5px 7px 20px #000;
}

.hero .row .left-sec .discover-btn a {
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
    margin-right: 15px;
    text-transform: capitalize;
}

.hero .row .left-sec .discover-btn span {
    font-size: 45px;
    color: #fff;
}

.hero .information {
    width: 100%;
    display: flex;
    margin-top: 100px;
}

.hero .information .production {
    margin-right: 50px;
    line-height: 3px;
}

.hero .information .production h2 {
    font-size: 20px;
    letter-spacing: 1px;
}

.hero .information .production p {
    padding-right: 0;
    letter-spacing: 1px;
}

.hero .right-sec {
    width: 70%;
    padding-top: 100px;
}

.hero .right-sec img {
    width: 50vw;
    height: 70vh;
    margin-right: 10vw;
    float: right;
}

.slick-next, .slick-prev {
    top: 30vh;
    z-index: 9;
}
.slick-next{
    position: absolute;
    left: 60vw;
}
.slick-prev{
    position: absolute;
    right: 50vw;
}
.slick-next:before, .slick-prev:before{
    font-size: 5vh;
}
.slick-dots{
    padding-left: 0vw;
    margin-bottom: 5vh;
}
.slick-dots li{
    margin-right: 1vw;
}

footer {
    background-color: aliceblue;
}